# Image retrieval timeout and processing duration in seconds.
IMAGE_PROCESSING_TIMEOUT=1  # after this time, the image retrieval will give up
IMAGE_PROCESSING_DURATION=3  # set to 0 to disable any extra delay (testing purposes)
